.container-card{
    display: flex;
    width: 90%;
    margin: 0 auto;
    
}

.body-card{
    background-color:rgb(255, 255, 255);
    margin: 0 auto;
    width: 350px;
    min-width: 350px;
    padding-bottom: 2%;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.title-card{
    text-align: center;
    font-size: 40px;    
}

.border-card{
    width: 80%;
    margin-top: -5%;
    margin-bottom: 5%; 
}

.no-style-input{
    border: 0;
    background-color: rgb(206, 206, 206);
    outline: none;
    font-size: 20px;
    width: 90%;
}

.form-save{
    width: 100%;
}

.btn-card{
    margin-left: 75%; 
    width: 25%;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}

.btn-card:hover{
    background-color: rgb(116, 116, 116);
}

.btn-card:focus{
    background-color: rgb(168, 168, 168);
}


.content-card{
    background-color: rgb(206, 206, 206);
    font-size: 20px;
    margin: 4% 4% 1% 4%;
    padding: 4%;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.card-color-picker{
    margin: 5% 0 0 80%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width:690px) {
    .container-card{
        display: block;
    }
    
    .title-card{
        padding: 10px 0 10px 0;
        font-size: 30px;
    }

    .body-card{
        width: 300px;
        min-width: 250px;
        margin: 0 auto;
    }

    .btn-card{
        margin-left: 80%;
    }

    .btn-card{
        margin-left: 65%; 
        width: 35%;
    }
}

@media screen and (min-width: 691px) and (max-width:1199px) {
    .container-card{
        display: block;
    }
    
    .title-card{
        font-size: 30px;
    }

    .title-card{
        padding: 20px 0 20px 0;
    }

    .body-card{
        width: 550px;
        min-width: 250px;
        margin: 0 auto;
    }

}


@media screen and (min-width: 1200px) and (max-width:1670px) {
    .container-card{
        width: 90%;
        margin: 0 auto;
        position: relative;
    }
    
    .body-card{
        width: 250px;
        min-width: 250px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .btn-card{
        margin-left: 80%;
    }
    
    .btn-card{
        margin-left: 65%; 
        width: 35%;
    }
}