/* .ml-30px{
    margin-left: 30px;
} */

.text-control{
    padding: 1%;
    color:rgb(0, 0, 0);
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
}

.mt-5p{
    margin-top: 5%;
}
